    <div
      class="card flex justify-content-center align-items-center bg-img"
      [style]="{ height: '100vh' }"
    >
      <p-card
        header="Recuperar contraseña"
        subheader="Hola {{user?.unique_name?.slice(0, 3)}}****{{user?.unique_name?.split('@')[1]}} por favor diligencie los siguientes campos para recuperar su contraseña."
        [style]="{ width: '600px' }"
      >
        <ng-template pTemplate="header">
          <div
            class="flex justify-content-center align-items-center flex-column"
          >
            <img
              src="../../../assets/img/findeterLogo.png"
              alt="FindeterLogo"
              [style]="{ width: '25%' }"
            />
          </div>
        </ng-template>

        <form [formGroup]="reestablecerForm">
        <div class="card flex flex-column gap-3">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <input type="password" pInputText placeholder="Contraseña" formControlName="password" />
          </p-inputGroup>
          <small class="p-error block" *ngIf="passwordControl?.errors?.['required'] && passwordControl?.touched">La contraseña es requerida</small>
          <small class="p-error block" *ngIf="passwordControl?.errors?.['passwordStrength'] && passwordControl?.touched">La contraseña debe contener mayúsculas, minúsculas, números y símbolos.</small>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <input type="password" pInputText placeholder="Confirmar contraseña" formControlName="confirmPassword" />
          </p-inputGroup>
            <small class="p-error block" *ngIf="confirmPasswordControl?.errors?.['required'] && confirmPasswordControl?.touched">El campo es requerido</small>
            <small class="p-error block" *ngIf="confirmPasswordControl?.errors?.['passwordStrength'] && confirmPasswordControl?.touched">La contraseña debe contener mayúsculas, minúsculas, números y símbolos.</small>
          <small class="p-error block" *ngIf="hasPasswordMismatch()">Las contraseñas no coinciden</small>
        </div>
        </form>
        <ng-template pTemplate="footer">
          <div class="flex flex-column gap-3 mt-1">
            <p-button label="Reestablecer contraseña" class="w-full" styleClass="w-full" [disabled]="reestablecerForm.invalid" (onClick)="onSubmit()" />
          </div>
        </ng-template>
      </p-card>
    </div>
<!-- <div class="center-container"> -->

  <!--Implementar form con nueva lib-->

  <!--<mat-card class="card-container">
      <mat-card-header style="margin-bottom: 25px;">
        <mat-card-title style="text-align: center;">Reestablecer contraseña</mat-card-title>
        <mat-card-subtitle style="text-align: center;">Hola, {{user}}. Por favor diligencie los siguientes campos para reestrablecer la contraseña</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="reestablecerForm">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Nueva contraseña</mat-label>
              <input matInput type="password" name="password" formControlName="password" required>
            </mat-form-field>
            <ul class="password-mismatch-error">
            <li *ngIf="passwordControl?.hasError('required') && passwordControl?.touched">
              El campo es requerido
            </li>
            <li *ngIf="shouldShowError('password') && passwordControl?.hasError('passwordStrength')">
      {{ getPasswordStrengthError() }}
    </li>
            </ul>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar contraseña</mat-label>
              <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" required>
            </mat-form-field>
            <ul class="password-mismatch-error">
            <li *ngIf="confirmPasswordControl?.hasError('required') && confirmPasswordControl?.touched">
              El campo es requerido
            </li>
            <li *ngIf="shouldShowError('confirmPassword') && confirmPasswordControl?.hasError('passwordStrength')">
      {{ getPasswordStrengthError() }}

    </li>
              <li *ngIf="hasPasswordMismatch()">
                Las contraseñas no coinciden
              </li>
            </ul>

        <span style="font-size: 12px; color: #666;">
          Asegurese de elegir una contraseña segura que contenga una combinación de letras, numeros, caracteres y minimo 8 caracteres.
        </span>
          </div>
        </form>

      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-around;">
        <button mat-raised-button color="primary" type="button" (click)="redirectToLogin()">
          Volver
        </button>
        <button [disabled]="passwordControl?.invalid || confirmPasswordControl?.invalid" mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          Cambiar contraseña
        </button>
      </mat-card-actions>
    </mat-card>-->
<!-- </div> -->
