/* layout.component.css */
.layout-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .topbar {
    height: 56px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.04);
    background: #fff;
  }

  .main-content {
    padding: 1rem;
  }
  
  .content-container {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  