<!-- Breadcrumb -->
<app-page-container [breadcrumbs]="breadcrumbs" [title]="'Perfil'" [addButtonText]="'+ Adicionar Perfil'"
  [showAddButton]="true">


  <p-accordion [activeIndex]="0">
    <p-accordionTab class="title" header="Información del perfil ">
      <div class="col-12">
        <div class="card">
          <div class="p-fluid p-formgrid grid" [formGroup]="perfilForm">
            <div class="field col-12 md:col-4">
              <label for="nombre">Nombre</label>
              <input pInputText id="nombre" formControlName="nombre"
                [ngClass]="{'ng-invalid ng-dirty': perfilForm.get('nombre')?.invalid && perfilForm.get('nombre')?.touched}" />
              <small *ngIf="perfilForm.get('nombre')?.invalid && perfilForm.get('nombre')?.touched" class="p-error">El
                nombre es obligatorio.</small>
            </div>
            <div class="field col-12 md:col-4">
              <label for="rol">Rol</label>
              <p-dropdown [options]="roles" id="rol" formControlName="rol" placeholder="Seleccione un rol"
                optionLabel="name"
                [ngClass]="{'ng-invalid ng-dirty': perfilForm.get('rol')?.invalid && perfilForm.get('rol')?.touched}"></p-dropdown>
              <small *ngIf="perfilForm.get('rol')?.invalid && perfilForm.get('rol')?.touched" class="p-error">El rol es
                obligatorio.</small>
            </div>
            <div class="field col-12 md:col-4">
              <label for="rol">Estado</label>
              <p-dropdown [options]="estados" id="estado" formControlName="estado" placeholder="Seleccione un estado"
                optionLabel="name"
                [ngClass]="{'ng-invalid ng-dirty': perfilForm.get('estado')?.invalid && perfilForm.get('estado')?.touched}"></p-dropdown>
              <small *ngIf="perfilForm.get('estado')?.invalid && perfilForm.get('estado')?.touched" class="p-error">El
                estado es obligatorio.</small>
            </div>
            <div class="field col-12 md:col-12">
              <label for="description">Descripción</label>
              <textarea id="description" pInputTextarea rows="4" cols="30" formControlName="descripcion" maxlength="300"
                [ngClass]="{'ng-invalid ng-dirty': perfilForm.get('descripcion')?.invalid && perfilForm.get('descripcion')?.touched}"></textarea>
              <small *ngIf="perfilForm.get('descripcion')?.invalid && perfilForm.get('descripcion')?.touched"
                class="p-error">La descripción es obligatoria y debe tener máximo 300 caracteres.</small>
              <small>{{ perfilForm.get('descripcion')?.value.length || 0 }}/300 caracteres</small>
            </div>

            <div class="field col-12 md:col-4">
              <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-outlined"></button>
            </div>
            <div class="field col-12 md:col-4">
              <button pButton type="button" label="Limpiar campos" icon="pi pi-trash" (click)="clearForm()"
                [text]="true"></button>
            </div>
            <div class="field col-12 md:col-4">
              <button pButton type="submit" label="Guardar" icon="pi pi-check"
                style="background-color: #005ca8; border-color: #005ca8;" [disabled]="!perfilForm.valid"
                (click)="onSubmit()"></button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion [activeIndex]="0">
    <p-accordionTab class="title" header="Perfiles existentes ">
      <app-table [subTitle]="'Listado de Perfiles'" [data]="perfiles" [headers]="headers" [actions]="true"
        [actionIcons]="actionIcons" (editRow)="onEditRow($event)" (deleteRow)="onDeleteRow($event)"></app-table>
    </p-accordionTab>
  </p-accordion>
</app-page-container>