<p-sidebar #sidebarRef [visible]="true">
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
      <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
        <span class="inline-flex align-items-center gap-2">
          <span class="font-semibold text-2xl text-primary"><img src="../../../assets/img/findeterLogo.png" alt=""
              width="100px"></span>
        </span>
        <span>
          <p-button type="button" (onClick)="closeCallback($event)" icon="pi pi-angle-double-left" rounded="true"
            outlined="true" styleClass="h-2rem w-2rem"></p-button>
        </span>
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-3 m-0">
          <li>
            <a pRipple [routerLink]="['dashboard']" routerLinkActive="active-menu-item"
              class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium">Dashboard</span>
            </a>
          </li>
        </ul>

        <ul class="list-none p-3 m-0">
          <li>
            <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
              leaveActiveClass="slideup"
              class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
              <span class="font-medium"><b>Gestión</b></span>
              <i class="pi pi-chevron-down"></i>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
              <li>
                <a pRipple [routerLink]="['incidents']" routerLinkActive="active-menu-item"
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <i class="pi pi-exclamation-circle mr-2"></i>
                  <span class="font-medium">Incidencias</span>
                </a>
              </li>
              <li>
                <a pRipple [routerLink]="['projects']" routerLinkActive="active-menu-item"
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <i class="pi pi-folder mr-2"></i>
                  <span class="font-medium">Proyectos</span>
                </a>
              </li>
              <li>
                <a pRipple [routerLink]="['users']" routerLinkActive="active-menu-item"
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <i class="pi pi-users mr-2"></i>
                  <span class="font-medium">Usuarios</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-none p-3 m-0">
          <li>
            <div pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
              leaveActiveClass="slideup"
              class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
              <span class="font-medium"><b>Administración</b></span>
              <i class="pi pi-chevron-down"></i>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
              <li>
                <a pRipple [routerLink]="['audit']" routerLinkActive="active-menu-item"
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <i class="pi pi-history mr-2"></i>
                  <span class="font-medium">Auditoría</span>
                </a>
              </li>
              <li>
                <a pRipple [routerLink]="['admin']" routerLinkActive="active-menu-item"
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                  <i class="pi pi-cog mr-2"></i>
                  <span class="font-medium">Administración del Sistema</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</p-sidebar>